<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <title>Alfred Koh | Music Band</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-ipad-retina.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://www.alfred-koh.pp.ua/{{ strings.TrimPrefix "/" (strings.TrimPrefix .Site.BaseURL .Permalink) }}">
    <meta property="og:url" content="https://alfred-koh.pp.ua/{{ strings.TrimPrefix "/" (strings.TrimPrefix .Site.BaseURL .Permalink) }}" />
    <meta name="author" content="Alfred Koh Music Band">
    <meta name="copyright" content="Alfred Koh Music Band">

    {{ block "meta" . }}
        <meta name="title" content="Alfred Koh Music Band">
        <meta name="description" content="Alfred Koh - черкаський рок-гурт. Активні роки 2008-2013">
        <meta name="og:image" content="/images/profile-picture.jpg">
        <meta name="og:image:width" content="150">
        <meta name="og:image:height" content="150">
        <meta name="og:image:type" content="image/jpg">
        <meta name="og:image:alt" content="Alfred Koh Music Band">
    {{ end }}
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    {{ block "head" . }}{{ end }}
</head>

<body class="bg-gradient-to-b from-[#010101] to-[#4d423d] font-serif">
    <div class="flex flex-col sm:my-1 max-w-4xl mx-auto min-h-screen border border-oil-800 bg-[#332c27] text-[#b09f96] shadow-lg rounded-xl">
        <header class="relative">
            <nav class="flex justify-between px-4">
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </nav>
            <picture>
                <img src="/images/header.jpg" alt="cover" class="w-full hidden sm:block">
                <img src="/images/header_mobile.jpg" alt="cover" class="w-full block sm:hidden">
            </picture>
        </header>

        <main class="mb-auto px-4 pt-3">
            {{ block "main" . }}{{ end }}
        </main>

        <footer class="py-4 text-xs px-4 border-t-2 mt-3 border-[#af781b]">Copyright © 2008 - 2013 Alfred Koh | Music Band</footer>
    </div>
</body>

</html>
